:host{
  display: grid;
  grid-template-rows: auto 1fr auto auto;

    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "desc"
      "img"
      "links";
  gap: 25px;
  padding: 20px;
  max-width: 700px;
  background-color: var(--surface);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,var(--shadow-opacity));
}

.links{
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  border-top: 1px solid white;
  a{
    text-decoration: none;
    color: var(--accent-color);
    padding: 10px 25px;
    border-radius: 5px;
    justify-self: center;
    transition: background-color 150ms ease-in-out;
    &:hover{
      background-color: rgba(var(--text), 0.05);
    }
  }
}
.desc{
  grid-area: desc;
  text-align: justify;
  padding: 0 5px;
}
.header{
  grid-area: header;
  & .year{
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
    color: rgba(var(--text), var(--text-secondary-opacity));

  }
}
.title{

  font-size: 1.5em;
  font-weight: 500;
  color: var(--main-color);
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
.screen{
  grid-area: img;
  img{
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,var(--shadow-opacity));
    transition: box-shadow 150ms ease-in-out;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 10px 2px rgba(0,0,0,var(--shadow-opacity));
    }
  }
}

