@use '../../../common';
.project-grid{
  margin: 30px auto;
  padding: 0 10px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  gap: 30px;
}

.header{

  background-color: var(--surface);
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(black, var(--shadow-opacity));

  z-index: 10;
  .container{
    width: 100%;
    max-width: 1015px;
    margin: auto;
  }
}
.title{
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0 15px;
}
.full-img{
  max-width: 90vw;
}
