/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
html{ height: 100%; }
body { min-height:100%; height:100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background);  color:rgba(var(--text), var(--text-main-opacity))}
