@use '../../../common';
.homepage{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(300px, 40vh) 50px 1fr 50px;
  min-height: 100%;
}

.splash-background{
  background-image: var(--home-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.3vw);
    -webkit-backdrop-filter: blur(0.3vw);
    display: flex;
    background-color: rgba(black, 0.6);
  }
  .home-header{
    padding: 20px;

    width: calc(100vw - 70px);
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: auto;
  }

}
.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  a {
    transition: opacity 150ms ease-in-out;
    &:hover{
      opacity: 1;
    }
    opacity: 0.6;
    img{
      max-height: 28px;
      margin: 0 15px;
    }
  }
}
.name, .profession{
  display: block;
}
.name{
  font-size: 3em;
  font-weight: 500;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
.profession{
  font-size: 1.8em;
  font-weight: 300;
}
.info{
  color: var(--text-on-img);
  text-align: center;
}
.menu{
  box-shadow: 0 2px 6px rgba(black, var(--shadow-opacity));
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.content{
  max-width: 800px;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.apropos{
  padding: 30px;
  text-align: justify;
  display: grid;
  grid-template-columns: auto auto;
  @media screen and (max-width: 767px) {
    grid-template-columns: auto;
  }
  gap: 30px;
  p{
    line-height: 1.35em;
    white-space: pre-line;
    margin: 0;
    text-indent: 10px;
  }

  .icon{
    display: block;
    font-size: 50px;
    width: 50px;
    color: var(--accent-color);
    margin: 10px auto;
    justify-self: center;
  }
}
.row {
  max-width: 60ex;
  margin: auto;
}
